* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	background-image: repeating-radial-gradient(circle at center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-size: 3px 3px;
}
h1 {
	text-align: center;
}
input {
	border: 2px solid rgba(0,0,0,.4);
	width: calc(100% - 40px);
	font-size: 16px;
	padding: 8px 5px;
}
input:focus {
	outline: none;
}
.container {
	width: 230px;
	margin: 100px auto;
	position: relative;
}
.add {
	position: absolute;
	right: 0;
	height: 38px;
	width: 38px;
	font-size: 20px;
	line-height: 20px;
	background-color: #fff;
	border: 2px solid rgba(0,0,0,.4);
	cursor: pointer;
	transition: all .3s;
}
.add:focus, .add:hover {
	background-color: #eee;
	outline: none;
}
.todoList {
	padding: 0;
	list-style-type: none;
}
.todo {
	width: 100%;
	border: 2px solid rgba(0,0,0,.4);
	padding: 5px;
	position: relative;
	margin: 2px 0;
	line-height: 25px;
	background-color: #fff;
}
.todo button {
	position: absolute;
	right: 5px;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background-color: #333;
	font-size: 20px;
	color: #fff;
	border: none;
	transform: rotate(45deg);
}
.todo button:hover {
	background-color: #e61f59;
	background-image: radial-gradient(ellipse farthest-corner at right bottom, #ADC0CE 0%, #E61F59 50%, #E4E4E4 100%);
	outline: none;
	cursor: pointer;
}